.login-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.login-logo img {
  max-width: 150px;
}
.list {
  margin-bottom: 0;
}


.myClass {
    background-color: #303334; 
    height: 100%;
    width: 100%;
}